.advantages{
    background-color: #03a9f3;
    height: 690px;
}
.advantages h1{
    margin-top: 40px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}

.advantages h2{
    font-size: 35px;
    color: #ffffff;
    font-family: "Poppins";
    text-align: center;
}