.advantages{
    background-color: #03a9f3;
    background-image: url(../../../assets/img/icons_transparent.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    margin-top: 40px;
}


.advantages{ 
    h2{
        padding-top: 100px;
        font-size: 35px;
        color: #ffffff;
        font-family: "Poppins";
        text-align: center;
    }
}

.advantages .bocks{ 
    h3{
        font-size: 20px;
        margin-top: 10px;
        color: #1e2021;
        font-weight: 500;
        font-family: "Poppins";
        text-align: center;
    }
    p{
        font-size: 18px;
        line-height: 22px;
        color: #51555a;
        font-weight: 400;
        font-family: "Poppins";
        text-align: center;
    }
    img{
            height: 100px;
            width: 100px;
    }

}

.advantages{ 
    .bock{
        width: 360px;
        height: 312px;
        filter: drop-shadow(0px 4px 10px rgba(202,202,202,0.25));
        background-color: #ffffff; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bocks{
        display: flex;
        align-items: center;
        justify-content:  space-around;
        padding-top: 55px;
    }
}

.advantages{  
    button{
        width: 210px;
        height: 50px;
        border-radius: 3px;
        background-color: #0187c3;
        border: 1px solid #0187c3;
        margin-left: 50px;
        margin-top: 16px;
        font-size: 22px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Poppins";
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .place_an{
        display: flex;
        justify-content: center;
        padding-bottom: 85px;
        padding-top: 50px;
    }
}