.baner{
    background-color: #d3e4f6;
    height: 630px;
}

.baner .bg_baner{
    position: absolute;
    height: 630px;
    opacity: 0.6;
}

.baner h1{
    margin-top: 145px;
    font-size: 49px;
    letter-spacing: -1px;
    color: #03a9f4;
    font-family: "Poppins";
}

.baner h2{
    font-size: 49px;
    letter-spacing: -1px;
    color: black;
    font-family: "Poppins";
}

.baner .progress{
    height: 3px;
    background-color: #8b8e90;
}
.baner .progress-bar{
    width: 15%;
    background-color:#f75d2d;
}

.baner .baner_text{
    font-size: 22px;
    line-height: 30px;
    color: #656a70;
    font-weight: 400;
    font-family: "Poppins";
}

.baner .place{
    width: 220px;
    height: 50px;
    border-radius: 3px;
    background-color: #f75d2d;
    border: 2px solid #f75d2d;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    margin-top: 15px;
}
.baner .girl{
    position: absolute;
    margin-top: -173px;
    margin-left: 180px;
    z-index: 1;
}
