.clients{
    margin-top: 320px;
    text-align: center;

    h2{
        font-size: $h2-font-size;
        color: #323538;
        font-weight: 500;
        font-family: "Poppins";
        margin-bottom: 50px;
    }
    .photo{
        width: 100px;
        margin-bottom: 30px;
    }
    .carousel-indicators button{
        background-color: $bg-color-blue;
        margin-bottom: -50px;
    }

    .clients_text{
        font-size: 16px;
        line-height: 22px;
        color: #51555a;
        font-weight: 300;
        font-family: "Regular";
        max-width: 50%;     
        
    }
    h4{
        font-size: 16px;
        color: $bg-color-blue;
        font-weight: 600;
        font-family: "Medium";

    }
    .data{
        font-size: 14px;
        color: #a3a6a9;
        font-weight: 300;
        font-family: "Regular";
    }

    .content_clients{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
    }
    .carousel-inner {
        height: 100%; 
      }
    
}
