footer{
    filter: drop-shadow(0px 1px 2.5px rgba(0,0,0,0.1));
    background-color: $bg-color-blue;
    padding: 20px 0 20px 0;
    margin-top: 50px;
    .logo{
        float: left;
    }
    nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        ul{
            display: flex;
            margin-top: 30px;

            li{
                margin-right: 60px;
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 16px;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: 500;
                font-family: 'Regular';
                cursor: pointer;
            }
            li::after{
                border: none;
            }
        }
    }

    hr{
        height: 2px;
        background-color: #ffffff;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .section_number p{
        font-size: 18px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Medium";
        margin-bottom: 30px;
        &:hover{
            color: rgb(151, 130, 12);
            transition: transform 1s ease;
        }
    }

    .section p{
        font-size: 16px;
        line-height: 28px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Poppins_Regular";
        &:hover{
            color: gold;
            transition: transform 1s ease;
        }
    }

    .copyright{
        font-size: 16px;
        line-height: 21px;
        color: #ffffff;
        font-family: "Museosans";
    }

    .facebook,
    .twitter,
    .pinterest,
    .google-plus{
        position: relative;
        float: left;
        margin-left: 15px;
        .first-image{
            position: absolute;
        }
            &:hover .first-image{
                opacity: 0;
                transition: transform 1s ease;
            }
    }

    .phone-img,
    .email-img{
        float: left;
        width: 30px;
        height: 30px;
    }

    .phone-text{
        padding-left: 35px;
        font-size: 16px;
        line-height: 5px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Regular";

        .number{
            font-size: 16px;
            line-height: 16px;
            text-transform: uppercase;
            color: #ffffff;
            font-family: "Bold";
        }
    }

    .email{
        padding-left: 10px;
        font-size: 16px;
        line-height: 5px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Regular";
        .number{
            font-size: 16px;
            line-height: 16px;
            text-transform: uppercase;
            color: #ffffff;
            font-family: "Bold";
        }
    }

}

@media screen and (max-width: 991px){
   hr{
    display: none;
   }
}