.header{
    height: 100px;
    filter: drop-shadow(0px 1px 2.5px rgba(0,0,0,0.1));
    background-color: #03a9f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    float: left;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul{
    display: flex;
    margin-top: 30px;
}
nav ul li{
    margin-right: 60px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: Poppins_Regular;
    cursor: pointer;
    &:hover{
        color: gold;
        transition: transform 1s ease;
    }
}
nav ul li::after{
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
}
nav ul li:nth-child(3):after{
    border: none;
}
.phone{
    margin-top: 10px;
    margin-right: 40px;
    cursor: pointer;
}

 header .sing{
    font-size:16px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: #0187c3;
    border: 1px solid #0187c3;
    margin-top: 10px;
    margin-right: 20px;
    &:hover{
        background-color: #145d80;
        transition: transform 1s ease;
    }
 }

 header .order{
    width: 100px;
    height: 40px;
    border-radius: 3px;
    border: 2px solid #f75d2d;
    background-color: #f75e2d;
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
    &:hover{
        background-color: #7b3118;
        border: 2px solid #7b3118;
        transition: transform 1s ease;
    }
 }

 header .burger img{
    height: 35px;
    width: 60px;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
 }

 .img_burger{
    position: relative;
        .first-image{
            position: absolute;
        }
    &:hover .first-image{
        opacity: 0;
        transition: transform 1s ease;
    }
 }

 
