.list{
    height: 120px;
    filter: drop-shadow(0px 4px 15px rgba(202,202,202,0.15));   
    background-color: #03a9f3;
    margin-top: -75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list h1{
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
    text-transform: uppercase;
}

.list .type,
.list .write,
.list .urgency{
    width: 250px;
    height: 50px;
}

.list .number table, td, tr{
    width: 200px;
    height: 37px;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 2.5px rgba(0,0,0,0.1));
    background-color: #ffffff;
    border: 1.5px solid #d8dadb;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list .number span{
    font-size: 20px;
    color: #656a70;
    font-weight: 400;
    font-family: "Poppins";
}

.list .continue{
    width: 210px;
    height: 50px;
    border-radius: 3px;
    background-color: #0187c3;
    border: 1px solid #0187c3;
    margin-left: 50px;
    margin-top: 16px;
}

.list .continue h2{
    font-size: 22px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
}