.list{
    height: 125px;
    filter: drop-shadow(0px 4px 15px rgba(202,202,202,0.15));   
    background-color: #03a9f3;
    margin-top: -75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list h1{
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
    text-transform: uppercase;
}
.list h2{
    font-size: 13px;
    color: #656a70;
    font-weight: 400;
    font-family: "Poppins";
}

.list .type,
.list .write,
.list .urgency{
    width: 250px;
    height: 50px;
}

.list .continue{
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
    text-align: center;
    width: 210px;
    height: 50px;
    border-radius: 3px;
    background-color: #0187c3;
    border: 1px solid #0187c3;
}