@import "./header";
@import "./baner";
@import "./list";
@import "./welcom";
@import "./advantages";





.blog{
    display: grid;
    grid-template-columns: 4fr 1fr;

}
header{
    font-family: $base_font;
}

.body{
    overflow-x: hidden;
}