@import "./header";
@import "./baner";
@import "./list";
@import "./welcom";
@import "./advantages";
@import "./howIt";
@import "./discount";
@import "./clients";







.blog{
    display: grid;
    grid-template-columns: 4fr 1fr;

}
header{
    font-family: $base_font;
}

