.welcom { 
    margin-top: 40px;

    h2{
        font-size: 35px;
        color: #1e2021;
        font-family: "Poppins";
    }

    .welcom_p{
        font-size:20px;
        line-height: 22px;
        color: #51555a;
        font-weight: 400;
        font-family: "Poppins";
    }
}

