<div class="container-fluid baner">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>BlueEssaySite.net -</h1>
                <h2>expert help for custom Written</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="progress">
                    <div class="progress-bar" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <p class="baner_text">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized</p>
                <button class="place">Place an order</button>
            </div>
                <div class="col-6 d-xl-flex d-lg-none d-none">
                    <img class="girl" src="../../../assets/img/girl.png" alt="">
                </div>
        </div>
    </div>
</div>