<div class="container-fluid discount">
    <div class="container">
        <h2>Our discount program</h2>
        <p>By utilizing elements and principles of Material Design, we were able to create a framework that incorporates </p>
        <div class="sale">
            <div class="procent">
                <div class="procent-element ">
                    <h3>4% <br> off</h3>
                    <p>for more than</p>
                    <h4>15 pages</h4>
                </div>
                <div class="procent-element">
                    <h3>5% <br>off</h3>
                    <p>for more than</p>
                    <h4>20 pages</h4>
                </div>
                <div class="procent-element">
                    <h3>10% <br> off</h3>
                    <p>for more than</p>
                    <h4>50 pages</h4>
                </div>
                <div class="procent-element">
                    <h3>15% <br> off</h3>
                    <p>for more than</p>
                    <h4>100 pages</h4>
                </div>
            </div>
            <div class="our_service">
                <div class="service">
                    <h5>Try our service & get huge discounts</h5>
                        <div class="get">
                            <img class="scissors" src="../../../assets/img/scissors.png" alt="">
                            <img class="stars" src="../../../assets/img/stars.png" alt="">
                            <h1>get</h1>
                            <h6>15% <br>off</h6>
                            <p class="get_text">for your 1st order</p>
                        </div>
                    <p class="service_p">Use discount15 as discount code</p>
                   <img class="balloon" src="../../../assets/img/balloon.png" alt=""> 
                </div>
                
            </div>
        </div>
    </div>
</div>