<div class="container-fluid header">
    <div class="container">
        <header>
            
            <div class="menu">
                <ul>
                    <li><a href="#"><img src="../../../assets/img/logo.png" alt=""></a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">How it works</a></li>
                    <li><a href="#"><img src="../../../assets/img/phone.png" alt=""></a></li>
                    <li><button class="sing">sing in</button></li>
                    <li><button class="order">order</button></li>
                    <li><a href="#"><img class="burger" src="../../../assets/img/burger.png" alt=""></a></li>

                </ul>  
            </div>
        </header>
    </div>
</div>