<div class="container-fluid header">
    <div class="container">
        <header>
            <a href="#"><img class="logo" src="../../../assets/img/logo.png" alt="logo"></a>
            <nav>
                <ul type="none">
                    <li>services</li>
                    <li>about us</li>
                    <li>how works</li>
                </ul>
                <img class="phone" src="../../../assets/img/phone.png" alt="phone">
                <button class="sing">sing in</button>
                <button class="order">order</button>
                <img class="burger" src="../../../assets/img/burger.png" alt="burger" >
            </nav>
        </header>
    </div>
</div>