<div class="container-fluid header">
    <div class="container">
        <header>
            <a href="#"><img class="logo" src="../../../assets/img/logo.png" alt="logo"></a>
            <nav>
                <ul type="none">
                    <li>services</li>
                    <li>about us</li>
                    <li>how works</li>
                </ul>
                <div class="phone">
                    <img  src="../../../assets/img/phone.png" alt="phone">
                </div>
                
                <button class="sing">sing in</button>
                <button class="order">order</button>
                <div class="burger">
                    <div class="img_burger">
                    <img class="first-image"  src="../../../assets/img/burger.png" alt="burger" >
                    <img class="hover-image"  src="../../../assets/img/burger-hover.png" alt="burger" >
                    </div>
                </div>
            </nav>
        </header>
    </div>
</div>