<div class="container list">
    <div class="row">
        <div class="col-3 type">
            <h1>type of paper</h1>
            <select class="form-select" aria-label="Default select example">
                <option selected>Placeholder text</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
        <div class="col-3 write">
            <h1>write level</h1>
            <select class="form-select" aria-label="Default select example">
                <option selected>High school</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-2 urgency">
            <h1>Urgency </h1>
            <select class="form-select" aria-label="Default select example">
                <option selected>21 days</option>
                <option value="1">22 days</option>
                <option value="2">23 days</option>
                <option value="3">24 days</option>
              </select>
        </div>
        <div class="col-2 number">
            <h1>Number of pages</h1>
            <table>
                <tr>
                    <td><span>-</span></td>
                    <td><span>2</span></td>
                    <td><span>+</span></td>
                </tr>
            </table>
        </div>
        <div class="col-2">
            <button class="continue"><h2>Continue</h2></button>
        </div>
    </div>
</div>